<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>审核列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">

            <div style="margin-top:10px;">
                <div id="app" class="layui-form"  >
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <select id="authSelect" name="modules" lay-verify="required" lay-search=""  ></select>
                        </div>
                        <div class="layui-input-inline">
                            <select id="stateSelect" name="modules" lay-verify="required" lay-search=""  >
                                <option  value="-1" >请选择状态</option>
                                <option  value="0" >待审核</option>
                                <option  value="1" >已发布</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input id="param_verify_on" type="text"  class="layui-input"  placeholder="审核日期">
                        </div>
                        <div class="layui-inline">
                            <button id="btnSearch" class="layui-btn" data-type="btnSearch">检索</button>
                        </div>
                    </div>
                </div>
            </div>

            <table  id="articleTable" class="layui-hide" lay-filter="table"></table>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中数据</button>
                    <button class="layui-btn layui-btn-sm" lay-event="getCheckUrls">获取链接列表</button>
                </div>
            </script>

            <script type="text/html" id="barTable">
                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">查看</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="remark">备注</a>
            </script>
        </div>
    </div>
</div>

<div id="openUpd" class="layui-form" lay-filter="openUpd"  style="display: none;padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">Cos编号</label>
            <div class="layui-input-inline">
                <input id="video_num" type="text" name="title" lay-verify="required" value="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">所属账号</label>
            <div class="layui-input-inline">
                <input id="username" type="text" lay-verify="required" value=""  autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">主标题</label>
        <div class="layui-input-block">
            <input id="title" type="text"  lay-verify="required" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">副标题</label>
        <div class="layui-input-block">
            <input id="sub_title" type="text" lay-verify="required" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标签</label>
        <div class="layui-input-block">
            <input id="tags" type="text" name="author" lay-verify="required" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">视频简介</label>
        <div class="layui-input-inline">
            <textarea id="desc" name="content" lay-verify="required" style="width: 540px; height: 60px;" autocomplete="off" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">百家文章Url</label>
        <div class="layui-input-block">
            <input id="bjh_article_url" type="text" name="title" lay-verify="required" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">审核日期</label>
        <div class="layui-input-block">
            <input id="verify_on" type="text"  class="layui-input"  placeholder="审核日期">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注信息</label>
        <div class="layui-input-block">
            <input id="remark" name="remark" type="text" placeholder="可填写保量状况" lay-verify="required" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">发布状态</label>
        <div class="layui-input-inline">
            <input id="state" type="checkbox" lay-verify="required" lay-filter="status" lay-skin="switch" lay-text="已发布|待审核">
        </div>
    </div>
</div>

<script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>

<script>

    $(function () {
        $.ajax({
            url: '/v1/auth/get_auths',
            type: 'get',
            dataType: "json",
            async: false,
            success: function (result) {
                $("#authSelect").append("<option value='-1'>请选择达人</option>");
                let data = result.data;
                for (var k in result.data) {
                    $("#authSelect").append("<option value='" + data[k].id + "'>" + data[k].username + "</option>");
                }
            }
        });
    });
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).use(['table','form', 'layedit', 'laydate'], function(){
        var table = layui.table,
            form = layui.form,
            layer = layui.layer,
            layedit = layui.layedit,
            laydate = layui.laydate;

        laydate.render({
            elem: '#param_verify_on'
        });

        laydate.render({
            elem: '#verify_on',
            //type: 'datetime'
        });

        table.render({
            elem: '#articleTable'
            ,url:'/v1/article/get_articles'
            ,request: {
                pageName: 'page', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            }
            ,response: {
                statusName: 'code', //规定数据状态的字段名称，默认：code
                statusCode: 200, //规定成功的状态码，默认：0
                msgName: 'msg', //规定状态信息的字段名称，默认：msg
                countName: 'count', //规定数据总数的字段名称，默认：count
                dataName: 'data' //规定数据列表的字段名称，默认：data
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '添加'
                ,layEvent: 'add_article'
                ,icon: 'layui-icon-add-1'
            },{ //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '审核表'
            ,height: 'full-120'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
                {field:'state_val', title:'状态', width:80, fixed: 'left', unresize: true, sort: true,
                    templet:function(d){
                        if (d.state_val === "已发布"){
                            return '<span style="color: #47a429;">'+ d.state_val+ '</span>';
                        }
                        return d.state_val;
                    }
                },
                {field:'username', title:'IP', width:160},
                {field:'video_num', title:'Cos编号', width:90},
                {field:'title', title:'主标题', width:300},
                {field:'sub_title', title:'副标题', width:200},
                {field:'tags', title:'标签', width:300},
                {field:'desc', title:'视频简介', width:100, sort: true},
                {field:'remark', title:'运营备注', width:150, sort: true},
                {field:'created_on', title:'创建时间', width:220, sort: true},
                {field:'verify_on', title:'审核时间', width:220, sort: true},
                {field:'bjh_article_id', title:'百家号文章Vid', width:220, sort: true},
                {field:'bjh_article_url', title:'百家号文章Url', width:220, sort: true},
                {fixed: 'right', title:'操作', toolbar: '#barTable', width:120},
            ]]
            ,page: true
        });

        //头工具栏事件
        table.on('toolbar(table)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckUrls':
                    var urls = "";
                    var data = checkStatus.data;
                    data.forEach(function (item,index) {
                        urls += item.bjh_article_url+"<br>";
                    });
                    layer.open({
                        type: 1
                        ,title: 'URL列表'
                        ,area: ['480px', '260px']
                        ,shade: 0.4
                        ,maxmin: true
                        ,content:'<div style="padding: 10px">'+ urls +'</div>'
                        ,btn: [ '关闭']
                    });
                    break;
                case 'add_article':
                    layer.open({
                        type: 1,
                        title: "添加信息",
                        maxmin: true,//是否显示最大最小化按钮
                        shadeClose: false,
                        area: ['680px', '500px'],
                        shade:0.4,
                        btn: ['保存', '取消'],
                        content: $("#openUpd"),
                        yes: function(index, layero){
                            let state = 0
                            form.on('switch(status)',function(switchData){
                                if (switchData.elem.checked===true){
                                    state = 1
                                }else {
                                    state = 0
                                }
                            });

                            let auth_id = $("#authSelect").val()
                            if (auth_id==="-1"){
                                layer.msg("请选择用户")
                                return
                            }

                            let verify_on_str=$("#verify_on").val();
                            let data = {
                                video_num: parseInt($("#video_num").val()),
                                auth_id:parseInt(auth_id),
                                title:$("#title").val(),
                                sub_title:$("#sub_title").val(),
                                state:state,
                                tags:$("#tags").val(),
                                desc:$("#desc").val(),
                                bjh_article_url:$("#bjh_article_url").val(),
                                remark:$("#remark").val(),
                                verify_on:new Date(Date.parse(verify_on_str.replace(/-/g, "/"))),
                            };

                            console.log(data)
                            $.ajax({
                                url: '/v1/article/add_article',
                                contentType: 'application/json',
                                type: 'POST',
                                dataType: "json",
                                data:JSON.stringify(data),
                                success: function (result) {
                                    console.log(result)
                                    if (result.code===200){
                                        defaultReloadTable()
                                        layer.close(index)
                                    }else {
                                        layer.msg(result.msg);
                                    }
                                }
                            });
                        },
                        no:function(index, layero){

                        }
                    });

                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(table)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.title + ' 的查看操作');
            } else if(obj.event === 'edit'){
                if (data.state===0){
                    $("#state").prop('checked',false);
                }else if (data.state===1){
                    $("#state").prop('checked',true);
                }
                form.render();
                form.on('switch(status)',function(switchData){
                    if (switchData.elem.checked===true){
                        data.state = 1
                    }else {
                        data.state = 0
                    }
                });

                //赋值
                $("#video_num").val(data.video_num);
                $("#username").val(data.username);
                $("#title").val(data.title);
                $("#sub_title").val(data.sub_title);
                $("#tags").val(data.tags);
                $("#desc").val(data.desc);
                $("#bjh_article_url").val(data.bjh_article_url);
                $("#verify_on").val(data.verify_on);
                $("#remark").val(data.remark);

                layer.open({
                    type: 1,
                    title: "修改信息",
                    maxmin: true,//是否显示最大最小化按钮
                    shadeClose: false,
                    area: ['680px', '500px'],
                    shade:0.4,
                    btn: ['保存', '取消'],
                    content: $("#openUpd"),
                    yes: function(index, layero){
                        data.video_num=parseInt($("#video_num").val());
                        data.username=$("#username").val();
                        data.title=$("#title").val();
                        data.sub_title=$("#sub_title").val();
                        data.tags=$("#tags").val();
                        data.desc=$("#desc").val();
                        data.bjh_article_url=$("#bjh_article_url").val();
                        data.remark=$("#remark").val();
                        let verify_on_str=$("#verify_on").val();
                        data.verify_on=new Date(Date.parse(verify_on_str.replace(/-/g, "/")));
                        console.log(data)

                        $.ajax({
                            url: '/v1/article/upd_article',
                            contentType: 'application/json',
                            type: 'POST',
                            dataType: "json",
                            data:JSON.stringify(data),
                            success: function (result) {
                                console.log(result)
                                if (result.code===200){
                                    defaultReloadTable()
                                    layer.close(index)
                                }else {
                                    layer.msg(result.msg);
                                }
                            }
                        });
                    },
                    no:function(index, layero){

                    }
                });
            }else if(obj.event === 'remark'){
                layer.prompt({
                    formType: 2
                    ,value: data.remark
                }, function(value, index){
                    // obj.update({
                    //     state: value
                    // });
                    layer.close(index);
                });
            }
        });

        $("#btnSearch").click(function () {
            //执行重载
            reloadTable()
        });

        function reloadTable() {
            table.reload('articleTable', {
                where: {
                    "auth_id":$("#authSelect").val(),
                    "state":$("#stateSelect").val(),
                    "verify_on": $("#param_verify_on").val()
                },page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        }
        function defaultReloadTable() {
            table.reload('articleTable', {
                where: {
                    "auth_id":$("#authSelect").val(),
                    "state":$("#stateSelect").val(),
                    "verify_on": $("#param_verify_on").val()
                }
            });
        }
    });



</script>
</body>



</html>