<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>达人列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">

            <div style="margin-top:10px;">
                <div id="app" class="layui-form"  >
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" id="param_username" name="param_username" lay-verify="param_username" autocomplete="off" placeholder="请输入名称" class="layui-input">
                        </div>
                        <div class="layui-inline">
                            <button id="btnSearch" class="layui-btn" data-type="btnSearch">检索</button>
                        </div>
                    </div>
                </div>
            </div>

            <table  id="authTable" class="layui-hide" lay-filter="table"></table>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中数据</button>
                </div>
            </script>

            <script type="text/html" id="barTable">
                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
            </script>
        </div>
    </div>
</div>

<div id="openUpd" class="layui-form" lay-filter="openUpd"  style="display: none;padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input id="username" type="text" name="username" lay-verify="required" value="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input id="password" type="text"  name="password" lay-verify="required" value=""  autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">app_id</label>
            <div class="layui-input-inline">
                <input id="app_id" type="text" name="app_id" lay-verify="required" value="25" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">app_token</label>
            <div class="layui-input-inline">
                <input id="app_token" type="text" name="app_token"   lay-verify="required" value=""  autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">secret_id</label>
        <div class="layui-input-block">
            <input id="secret_id" type="text"  lay-verify="required" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">secret_key</label>
        <div class="layui-input-block">
            <input id="secret_key" type="text" lay-verify="required" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">cos_address</label>
        <div class="layui-input-block">
            <input id="cos_address" type="text" name="author" lay-verify="required" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">ip首页</label>
        <div class="layui-input-block">
            <input id="hk_index" type="text" name="hk_index" lay-verify="required" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <input id="state" type="checkbox" lay-verify="required" lay-filter="status" lay-skin="switch" lay-text="启用|禁用">
        </div>
    </div>
</div>

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/vue.js"></script>

<script>

    layui.use(['table','form', 'layedit', 'laydate'], function(){
        var table = layui.table,
            form = layui.form,
            layer = layui.layer,
            layedit = layui.layedit,
            laydate = layui.laydate;


        table.render({
            elem: '#authTable'
            ,url:'/v1/auth/get_auths'
            ,request: {
                pageName: 'page', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            }
            ,response: {
                statusName: 'code', //规定数据状态的字段名称，默认：code
                statusCode: 200, //规定成功的状态码，默认：0
                msgName: 'msg', //规定状态信息的字段名称，默认：msg
                countName: 'count', //规定数据总数的字段名称，默认：count
                dataName: 'data' //规定数据列表的字段名称，默认：data
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '审核表'
            ,height: 'full-200'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
                {field:'username', title:'账号', width:180, fixed: 'left', unresize: true, sort: true},
                {field:'password', title:'密码', width:160},
                {field:'app_id', title:'百家号[app_id]', width:160},
                {field:'app_token', title:'百家号[app_token]', width:280},
                {field:'secret_id', title:'腾讯云[secret_id]', width:340},
                {field:'secret_key', title:'腾讯云[secret_key]', width:280},
                {field:'cos_address', title:'腾讯云[cos_address]', width:280},
                {field:'hk_index', title:'百家号首页', width:200, sort: true},
                {field:'created_on', title:'创建时间', width:220, sort: true},
                {fixed: 'right', title:'操作', toolbar: '#barTable', width:70},
            ]]
            ,page: false
        });

        //头工具栏事件
        table.on('toolbar(table)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(table)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.username + ' 的查看操作');
            } else if(obj.event === 'edit'){
                if (data.state===0){
                    $("#state").prop('checked',false);
                }else if (data.state===1){
                    $("#state").prop('checked',true);
                }
                form.render();
                form.on('switch(status)',function(switchData){
                    if (switchData.elem.checked===true){
                        data.state = 1
                    }else {
                        data.state = 0
                    }
                });

                //赋值
                $("#username").val(data.username);
                $("#password").val(data.password);
                $("#app_id").val(data.app_id);
                $("#app_token").val(data.app_token);
                $("#secret_id").val(data.secret_id);
                $("#secret_key").val(data.secret_key);
                $("#cos_address").val(data.cos_address);
                $("#hk_index").val(data.hk_index);

                layer.open({
                    type: 1,
                    title: "修改信息",
                    maxmin: true,//是否显示最大最小化按钮
                    shadeClose: false,
                    area: ['680px', '560px'],
                    shade:0,
                    btn: ['保存', '取消'],
                    content: $("#openUpd"),
                    yes: function(index, layero){
                        data.username=$("#username").val(),
                        data.password=$("#password").val(),
                        data.app_id=$("#app_id").val(),
                        data.app_token=$("#app_token").val(),
                        data.secret_id=$("#secret_id").val(),
                        data.secret_key=$("#secret_key").val(),
                        data.cos_address=$("#cos_address").val(),
                        data.hk_index=$("#hk_index").val(),
                        console.log(data)

                        $.ajax({
                            url: '/v1/auth/upd_auth',
                            contentType: 'application/json',
                            type: 'POST',
                            dataType: "json",
                            data:JSON.stringify(data),
                            success: function (result) {
                                console.log(result)
                                if (result.code===200){
                                    reloadTable()
                                    layer.close(index)
                                }else {
                                    layer.msg(result.msg);
                                }
                            }
                        });
                    },
                    no:function(index, layero){

                    }
                });
            }else if(obj.event === 'verify'){
                layer.prompt({
                    formType: 2
                    ,value: data.state
                }, function(value, index){
                    obj.update({
                        state: value
                    });
                    layer.close(index);
                });
            }
        });


        $("#btnSearch").click(function () {
            //执行重载
            reloadTable()
        });

        function reloadTable() {
            table.reload('authTable', {
                where: {
                    "username":$("#param_username").val()
                }
            });
        }

    });
</script>
</body>
</html>