<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CTR列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/css/formSelects-v4.css" media="all"/>

</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">

            <div style="margin-top:10px;">
                <div id="app" class="layui-form"  >
                    <div class="layui-form-item">
                        <div class="layui-input-inline" style="width: 60px;">
                            <input id="page_no" type="text" placeholder="页码"  name="title" lay-verify="required" value="1" autocomplete="off" class="layui-input ">
                        </div>
                        <div class="layui-input-inline" style="width:500px;">
                            <select id="user_ids" name="city" class="layui-input" xm-select="user_ids" >
                            </select>
                        </div>
                        <div class="layui-inline">
                            <button id="btnSearch" class="layui-btn" data-type="btnSearch">开始计算</button>
                        </div>
                    </div>

                </div>

            </div>

            <table  id="ctrTable" class="layui-hide" lay-filter="table"></table>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中数据</button>
                </div>
            </script>

        </div>
    </div>
</div>

<script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>

<script>


    layui.use(['table','form', 'layedit', 'laydate','formSelects'], function(){
        var table = layui.table,
            form = layui.form,
            layer = layui.layer,
            layedit = layui.layedit,
            laydate = layui.laydate,
            formSelects = layui.formSelects;


        formSelects.data('user_ids', 'server', {
            url: '/v1/auth/get_auths_select',
            //linkage: true,
            //linkageWidth: 130   //代表每一级别的宽度, 默认是100
        });

        table.render({
            elem: '#ctrTable'
            ,url:'/v1/ctr/get_ctr_top'
            ,request: {
                pageName: 'page', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            }
            ,response: {
                statusName: 'code', //规定数据状态的字段名称，默认：code
                statusCode: 200, //规定成功的状态码，默认：0
                msgName: 'msg', //规定状态信息的字段名称，默认：msg
                countName: 'count', //规定数据总数的字段名称，默认：count
                dataName: 'data' //规定数据列表的字段名称，默认：data
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: 'CTR表'
            //,height: 'full-120'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field:'user_name', title:'账号', width:160, fixed: 'left', unresize: true, sort: true},
                {field:'updated_at', title:'发布时间', width:170, sort: true},
                {field:'title', title:'标题', width:400},
                {field:'comment_count',  title:'评论量', width:100, sort: true},
                {field:'ahare_count', title:'分享量', width:100, sort: true},
                {field:'collect_count', title:'收藏量', width:100, sort: true},
                {field:'likes_count', title:'点赞量', width:100, sort: true},
                {field:'preview_url', title:'链接', width:260},
                {field:'article_id', title:'文章id', width:180},
                {field:'status', title:'状态', width:100},
                {field:'recommend_count', fixed: 'right',unresize: true,title:'推荐量', width:100, sort: true},
                {field:'view_count', fixed: 'right', unresize: true,title:'播放量', width:100, sort: true},
                {field:'ctr', fixed: 'right', unresize: true, title:'CTR', width:100, sort: true,
                    templet:function(d){
                        if (d.ctr>=15){
                            return '<span style="color: #47a429;">'+ d.ctr+ '</span>';
                        }
                        return '<span style="color: #ce2322;">'+ d.ctr+ '</span>';
                    }
                },
            ]]
            ,page: false
        });

        //头工具栏事件
        table.on('toolbar(table)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(table)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.username + ' 的查看操作');
            }
        });


        $("#btnSearch").click(function () {
            //执行重载
            reloadTable()
        });

        function reloadTable() {
            table.reload('ctrTable', {
                where: {
                    "user_ids":formSelects.value('user_ids', 'valStr'),
                    "page_no":$("#page_no").val()
                }
            });
        }

    });
</script>
</body>
</html>