<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>达己阁-数据运营系统</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">达己阁-数据运营系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/">Dashboard</a></li>
            <li class="layui-nav-item"><a href="/v1/auth.html">达人管理</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它资料</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" >
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/img/logo.png" class="layui-nav-img">
                    Zev
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/login_out">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="left_menu">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">视频管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/v1/article.html">发布审核</a></dd>
                        <dd><a href="javascript:;">CTR计算</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">标题库</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">新增标题</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">上传视频</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
{{/*        <iframe layui="/v1/article/" frameborder="0" id="=admin" style="width: 100%; height: 100%;"></iframe>*/}}
        {{.LayoutContent}}
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © admin.zev.ink
    </div>
</div>
<script layui="/layui/layui.all.js" charset="utf-8"></script>
<script>
    layui.config({
        base: '/modules' //静态资源所在路径
    })
    layui.use('element', function(){
        let element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(left_menu)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });

</script>
</body>
</html>